@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">New Product</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th class="text-center">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price.ToString("C2")
                </td>
                <td>
                    @item.Category.Name
                </td>
                <td>
                    <img src="~/media/products/@item.Image" width="100" alt="" />
                </td>
                <td class="text-center align-middle">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a asp-action="Details" asp-route-id="@item.Id"class="btn btn-outline-primary" role="button">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a asp-action="Edit" asp-route-id="@item.Id"class="btn btn-outline-success" role="button">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id"class="confirmDeletion btn btn-outline-danger" role="button">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex w-100 justify-content-center">
    <Pagination
        page-count="@ViewBag.TotalPages"
        page-target="/admin/products"
        page-number="@ViewBag.PageNumber"
        page-range="@ViewBag.PageRange"
    ></Pagination>
</div>