@model IEnumerable<CMSShoppingCart.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<p>
    <a asp-action="Create">New Category</a>
</p>

<table class="table sorting" id="categories">
    <thead>
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <span>|</span>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <span>|</span> 
                    <a class="confirmDeletion" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        const postReorder = function(event, ui) {
            let url = "/admin/categories/reorder";
            let ids = $("table#categories tbody").sortable("serialize");
            $.post(url, ids); 
        };
        $("table#categories tbody").sortable({
            items:       "tr:not(.home)",
            placeholder: "ui-state-highlight",
            update:      postReorder,
        });
    </script>
}

